<!doctype html>
<html lang="en-US">
  <head>
  
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    

  </head>
  <body>
    <%= t.include("partials/_gtm.html") %>
    <%= t.include("partials/_nav.html") %>
     <%= t.include("_hunt.html") %>
    <section class="content text-block" id="projects" style="padding-top:0px">
            
        <header class="splash" style="height:600px;">
          <div class="vid-desktop">
          <img style="top:0%;"src="./assets/title-long.jpg">
          </div>
            <div>
                <h1  class="hammer">Privately Held</h1>
                <h1 class="subhead">A mental-health crisis, an industry's hidden toll
                </h1>
            </div>
            
            <div class="fade">
            Seeing need and seeking profit, <br>a company’s push to expand psychiatric care brought peril
            <img src="" style>
            <div class="aside-text">
            <p><i class="fa fa-headphones" aria-hidden="true"></i> Best experienced with audio</p>
             
             </div>

             
       
            <div class="byline"">
        <hr style="width:30%">
          Story by Daniel Gilbert | Graphics by Emily M. Eng | Photographs by Ellen M. Banner<br/>Videos by Lauren Frohne  | Illustrations by Gabriel Campanario
          
          <div class="staff">Seattle Times staff</div>
          <hr style="width:30%">
          <div class="date" style="margin-bottom:40px;">Published August 18, 2019</div>

    </div>
            
            </div>



        </header>     
        
        
       

        </section>
    <section class="content text-block">
        <div class="constrained">
        
        </div>
    </section>
    
    <section style="height:800px" class="text-block other-features" id="other-features">
       
    <div class="constrained">
        
    </div>
     </section>
   

    <%= t.include("partials/_navBottom.html") %>
    
    <script src="app.js" async></script>
    
   
      
    
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
