<!doctype html>
<html lang="en-US">
  <head>
  
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

  </head>
  <body>
    <%= t.include("partials/_gtm.html") %>
    <%= t.include("partials/_nav.html") %>
     <%= t.include("_hunt.html") %>
     
     
    <section class="content text-block" id="projects">
    
        <header >
            <div class="fade-box" id="next6">
            <h2 style="font-size:42px">PUBLIC CRISIS, PRIVATE TOLL</h2>
                <div class="chatter">Rosemary Torgesen was taken to Providence Regional Medical Center’s emergency room for a fourth time.
                </div>
                
                </div>
                <button id="btn1" style="margin:10px auto 0; width:100%;color:white;background-color:transparent;border:none;" aria-label="Play audio"><a href="https://projects.seattletimes.com/2019/public-crisis-private-toll-part1">
    <span>
      READ MORE ABOUT THE INVESTIGATION
    </span>
    <div style="text-align:center; color:white"><i class="fas fa-chevron-down" style="font-size:24px"></i></a>
            </div>
  </button>
        </header>
          
    </section>
    <%= t.include("partials/_navBottom.html") %>
    <script src="app.js" async></script>
    
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
