<!doctype html>
<html lang="en-US">
  <head>
  
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    

  </head>
  <body>
    <%= t.include("partials/_gtm.html") %>
    <%= t.include("partials/_nav.html") %>
     <%= t.include("_hunt.html") %>
     <!--
    <section class="content text-block" id="projects">
            
        <header >
            <div class="fade-box">
            <h2 style="font-size:54px">Privately Held</h2>
                <div class="chatter">A mental-health crisis, an industry’s hidden toll
                </div>
            
            <div class="byline date">
            <p><i class="fa fa-headphones" aria-hidden="true"></i> Best experienced with headphones</p>
             
             </div>

             
       
            <div class="byline"">
        <hr style="width:30%">
          Story by Daniel Gilbert | Graphics by Emily M. Eng | Photographs by Ellen M. Banner<br/>Videos by Lauren Frohne  | Illustrations by Gabriel Campanario
          
          <div class="staff">Seattle Times staff</div>
          <hr style="width:30%">
          <div class="date" style="margin-bottom:40px;">Published August 2, 2019</div>

    </div>
           
            </div>



        </header>     
        
        
       

        </section>
    
    -->
   
   

    <%= t.include("partials/_navBottom.html") %>
    
    <script src="app.js" async></script>
    
   
      
    
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
